{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
          <h2 class="text-center">Sign Up</h2>
        </div>
        <div class="card-body">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid gap-2">
              <button class="btn btn-success mt-3" type="submit">Sign Up</button>
            </div>
          </form>
          <hr>
          <p class="text-center">
            Already have an account? 
            <a href="{{ login_url }}">Sign in here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}